.sectionContainer {
  margin: 10vh 5vw 2.5vh 5vw;
  padding: 2.5vh 20vw 2.5vh 20vw;
  width: 90vw;
  overflow: visible;
  background-color: white;
  border-radius: 1rem;
}

/* TITLE BAR */

.titleBar {
  text-align: center;
}

.titleText {
  font: bold 2rem 'Roboto', 'sans-serif';
  margin: 2.7vh 0 1.35vh 0;
  color: #E41376;
}

/* TEXT FIELD */

.textField {
  color: #000;
  font: 1.3rem;
  margin: 1.35vh 0 1.35vh 0;
  text-align: center;
}

/* ICONS BAR */

.iconsBar {
  margin: 1.35vh 0 2.7vh 0;
  text-align: center;
}