.sectionContainer {
  margin: 5vh 0 0 0;
  padding: 5vh 10rem 2.5vh 10rem;
  overflow: visible;
  background-color: white;
  border-radius: 1rem 1rem 0 0;
}

/* TITLE BAR */

.titleBar {
  text-align: center;
}

.titleText {
  font: bold 2rem 'Roboto', 'sans-serif';
  margin: 1rem 0 .5rem 0;
  color: #E41376;
}

/* TEXT FIELD */

.textField {
  color: #000;
  font: 1.1rem 'Ubuntu', 'sans-serif';
  margin: .5rem 0 .5rem 0;
  text-align: center;
}

/* ICONS BAR */

.iconsBar {
  text-align: center;
}