.sectionContainer {
  background-color: white;
  border-radius: 1rem;
  margin: 10vh 5vw 1.25vh 5vw;
  overflow: visible;
  padding: 2.5vh 20vw 2.5vh 20vw;
  width: 90vw;
}

/* TITLE BAR */

.titleBar {
  text-align: center;
}

.titleText {
  color: #E41376;
  font: bold 2rem 'Roboto', 'sans-serif';
  margin: 2.7vh 0 .675vh 0;
}

/* TEXT FIELD */

.textField {
  margin: .675vh 0 .675vh 0;
  text-align: center;
}

/* ICONS BAR */

.iconsBar {
  margin: .675vh 0 2.7vh 0;
  text-align: center;
}

.siteIcon {
  color: #E41376;
  height: 2rem;
  margin: 0 .75rem 0 .75rem;
  transition: all .35s;
  width: 2rem;
}

.siteIconAnchor:hover .siteIcon {
  transform: scale(1.05);
}

.siteIconAnchor:active .siteIcon {
  transform: scale(0.95);
}