.sectionContainer {
  margin: 25vh 0 8vh 0;
  height: 67vh;
  overflow: visible;
}

/* PROFILE PICTURE */

.picContainer {
  padding: 1.5vh 0 1.5vh 0;
  text-align: center;
}

/* TEXT */

.textContainer {
  padding: 1.5vh 0 1.5vh 0;
  text-align: center;
  color: #fff;
}

.name {
  letter-spacing: .05rem;
  margin: 0 0 0 0;
  font: bold 2.81rem 'Roboto', 'sans-serif';
}

.nameDot {
  color: #E41376;
}

.desc {
  color: #E41376;
  margin: 0 0 0 0;
  font: 1.3rem 'Ubuntu', 'sans-serif';
}

/* NAVIGATION */

.arrowContainer {
  margin: 15vh 0 0 0;
  text-align: center;
}

.arrowDown {
  fill: #fff;
  transition: all .35s;
}

.arrowDown:hover {
  cursor: pointer;
  fill: #E41376;
  transform: scaleX(1.1) scaleY(1.15);
}

.arrowDown:active {
  fill: #990050;
  transform: scale(0.9);
}