.sectionContainer {
  margin: 25vh 0 25vh 0;
  height: 50vh;
  overflow: visible;
}

.picContainer {
  padding: 1.5vh 0 1.5vh 0;
  text-align: center;
}

.textContainer {
  padding: 1.5vh 0 1.5vh 0;
  text-align: center;
  color: #fff;
}

.name {
  margin: 0 0 0 0;
  font: bold 2.81rem 'Roboto', 'sans-serif';
}

.nameDot {
  color: #E41376;
}

.desc {
  margin: 0 0 0 0;
  font: 1.62rem 'Ubuntu', 'sans-serif';
}