@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  src: url("../fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu";
  font-style: bold;
  src: url("../fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  src: url("../fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "IBMPlexSans";
  font-style: bold;
  src: url("../fonts/IBMPlexSans-Bold.ttf");
}

body {
  background-color: #060034;
  margin: 0;
  padding: 0;
}