@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: "Ubuntu";
  src: url('../fonts/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: "Ubuntu";
  font-weight: bold;
  src: url('../fonts/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: "IBMPlexSans";
  src: url('../fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: "IBMPlexSans";
  font-weight: bold;
  src: url('../fonts/IBMPlexSans-Bold.ttf');
}

body {
  background-color: #060034;
  color: #060034;
  font: 1.2rem 'IBMPlexSans', 'sans-serif';
  line-height: 2rem;
  margin: 0;
  padding: 0;
}