.sectionContainer {
  background-color: white;
  border-radius: 1rem;
  margin: 2.5vh 5vw 1.25vh 5vw;
  overflow: visible;
  padding: 2.5vh 3.75vw 2.5vh 3.75vw;
  width: 90vw;
}

/* TITLE BAR */

.titleBar {
  text-align: center;
}

.titleText {
  color: #E41376;
  font: bold 2rem 'Roboto', 'sans-serif';
  margin: 1rem 0 1.2rem 0;
}

/* PROJECT SHOWCASES */

.projectContainer {
  text-align: center;
}

.projectImage {
  border-radius: 1rem;
  margin-bottom: 5px;
  transition: all .35s;
}

.projectTitle {
  color: #E41376;
  font: bold 1.2rem 'Roboto', 'sans-serif';
  letter-spacing: .5px;
}

.projectDesc {
  font: 1rem 'IBmPlexSans', 'sans-serif';
}

.projectLinkIcon {
  color: #E41376;
  height: 2rem;
  margin: 1rem .5rem 0 .5rem;
  transition: all .35s;
  width: 2rem;
}

.projectLinkIconAnchor:hover .projectLinkIcon {
  transform: scale(1.05);
}

.projectLinkIconAnchor:active .projectLinkIcon {
  transform: scale(0.95);
}