.sectionContainer {
  margin: 3vh 5vw 6.45vh 5vw;
  overflow: visible;
  padding: 2.5vh 0 2.5vh 0;
  width: 90vw;
}

/* TITLE BAR */

.titleBar {
  text-align: center;
}

.titleText {
  color: #E41376;
  font: bold 2rem 'Roboto', 'sans-serif';
  margin: 2.7vh 0 5vh 0;
}

/* SKILl GROUPS */

.skillGroupContainer {
  border: .065rem solid #E41376;
  color: #E41376;
  margin: 1vh 0 .675vh 0;
  padding: 1.3vh 1.3vw 1.3vh 1.3vw;
  transition: all .35s;
}

.skillGroupContainer:hover {
  background-color: #E41376;
  color: #fff;
}

.skillGroupTitle {
  font: bold 1.2rem 'Ubuntu', 'sans-serif';
  letter-spacing: .05rem;
}

.skillGroupText {

}