.sectionContainer {
  margin: 2.5vh 5% 5vh 5%;
  width: 90%;
  padding: 2.5vh 10rem 2.5vh 10rem;
  overflow: visible;
  border-radius: 1rem 1rem 0 0;
}

/* TITLE BAR */

.titleBar {
  text-align: center;
}

.titleText {
  font: bold 2rem 'Roboto', 'sans-serif';
  margin: 1rem 0 .5rem 0;
  color: #E41376;
}

/* TEXT FIELD */

.textField {
  color: #fff;
  text-align: center;
}