.sectionContainer {
  margin: 0.625vh 5vw 0.625vh 5vw;
  overflow: visible;
  padding: 0.625vh 0 0.625vh 0;
  width: 90vw;
}

/* TITLE BAR */

.titleBar {
  text-align: center;
}

.titleText {
  color: #E41376;
  font: bold 2rem 'Roboto', 'sans-serif';
  margin: 2.7vh 0 .675vh 0;
}

/* TEXT FIELD */

.textField {
  color: #fff;
  margin: .675vh 0 .675vh 0;
  text-align: center;
}